################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ev.Service.Contacts/Ev.Service.Contacts/bin/Debug/netcoreapp3.1
/Ev.Service.Contacts/Ev.Service.Contacts/obj
/Ev.Service.Contacts/.vs/Ev.Service.Contacts/v16
